![Python_logo](https://www.python.org/static/community_logos/python-logo-master-v3-TM.png)


 # **Cortex Game: Round2--Conditional Amount**

Please note that you need to run this notebook 'Round2--Conditional Amount' first, before running the notebook 'Round2--Probability of Giving'.

> Before playing the game, you need to connect to SASPy first.
>
>> If it is your first time, please follow the 4 steps mentioned below!

***
## **Connect to SASPy**

**0- Connect to your Google Drive folder**

In [ ]:
my_folder = "/content/drive/MyDrive/RETO SAS"

from google.colab import drive
drive.mount('/content/drive')

# Change the following code to set your Drive folder
import os
os.chdir(my_folder)
!pwd

Mounted at /content/drive
/content/drive/MyDrive/RETO SAS

**1- Make sure that your Python version is 3.3 or higher as well as your Java version is 1.8.0_162 or higher**

In [ ]:
!echo "Python is at" $(which python)
!python --version

Python is at /usr/local/bin/python
Python 3.8.15

In [ ]:
!echo "Java is at" $(which java)
!/usr/bin/java -version

Java is at /usr/bin/java
openjdk version "11.0.17" 2022-10-18
OpenJDK Runtime Environment (build 11.0.17+8-post-Ubuntu-1ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.17+8-post-Ubuntu-1ubuntu218.04, mixed mode, sharing)

**2- Install SASPy**

In [ ]:
pip install saspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting saspy
  Downloading saspy-4.4.1.tar.gz (9.9 MB)
     |████████████████████████████████| 9.9 MB 8.9 MB/s
Building wheels for collected packages: saspy
  Building wheel for saspy (setup.py) ... done
  Created wheel for saspy: filename=saspy-4.4.1-py3-none-any.whl size=9937304 sha256=7502e2d17498ae5f599de6480e79197699476be8455e7bf4fc016ab63a21c224
  Stored in directory: /root/.cache/pip/wheels/0a/f6/ab/f7173c8a824856c66f6fd50194bb8fd3ef93fb4f1824be8d0c
Successfully built saspy
Installing collected packages: saspy
Successfully installed saspy-4.4.1

**3- Create the configuration file "sascfg_personal.py"**
Please, check that your Home Region is correct, you can check it at [ODA-SAS](https://welcome.oda.sas.com/home)

In [ ]:
%%writefile sascfg_personal.py
SAS_config_names=['oda']
oda = {'java' : '/usr/bin/java',
#US Home Region 1
#'iomhost' : ['odaws01-usw2.oda.sas.com','odaws02-usw2.oda.sas.com','odaws03-usw2.oda.sas.com','odaws04-usw2.oda.sas.com'],
#US Home Region 2
'iomhost' : ['odaws01-usw2-2.oda.sas.com','odaws02-usw2-2.oda.sas.com'],
#European Home Region 1
#'iomhost' : ['odaws01-euw1.oda.sas.com','odaws02-euw1.oda.sas.com'],
#Asia Pacific Home Region 1
#'iomhost' : ['odaws01-apse1.oda.sas.com','odaws02-apse1.oda.sas.com'],
#Asia Pacific Home Region 2
#'iomhost' : ['odaws01-apse1-2.oda.sas.com','odaws02-apse1-2.oda.sas.com'],
'iomport' : 8591,
'authkey' : 'oda',
'encoding' : 'utf-8'
}

Overwriting sascfg_personal.py

**4- Create your .authinfo**

If there is no .authinfo file, you can create this

In [ ]:
#%%writefile .authinfo
#oda user USR password PSW

Copy this file to home

In [ ]:
!cp .authinfo ~/.authinfo

**5- Establish Connection (Need to do this step each time you use SASPy)**

In [ ]:
import saspy
sas_session = saspy.SASsession(cfgfile=os.path.join(
    my_folder,"sascfg_personal.py"))
sas_session

Using SAS Config named: oda
SAS Connection established. Subprocess id is 394

Access Method         = IOM
SAS Config name       = oda
SAS Config file       = /content/drive/MyDrive/RETO SAS/sascfg_personal.py
WORK Path             = /saswork/SAS_work6639000047A8_odaws02-usw2-2.oda.sas.com/SAS_work2BF6000047A8_odaws02-usw2-2.oda.sas.com/
SAS Version           = 9.04.01M6P11072018
SASPy Version         = 4.4.1
Teach me SAS          = False
Batch                 = False
Results               = Pandas
SAS Session Encoding  = utf-8
Python Encoding value = utf-8
SAS process Pid value = 18344

***
## Connect to Cortex Data Sets

Load Cortex datasets from SAS Studio

In [ ]:
ps = sas_session.submit("""
    libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
    """)
print(ps["LOG"])

5                                                          The SAS System                      Friday, December  2, 2022 04:08:00 PM

24         ods listing close;ods html5 (id=saspy_internal) file=_tomods1 options(bitmap_mode='inline') device=svg style=HTMLBlue;
24       ! ods graphics on / outputfmt=png;
25
26
27             libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';
28
29
30
31         ods html5 (id=saspy_internal) close;ods listing;
32

6                                                          The SAS System                      Friday, December  2, 2022 04:08:00 PM

33

For local Jupyter

In [ ]:
#%%SAS sas_session
#libname cortex '~/my_shared_file_links/u39842936/Cortex Data Sets';

### Transform cloud SAS dataset to Python dataframe (pandas)

> For reference: 

> 1- [Pandas library](https://pandas.pydata.org/docs/user_guide/index.html)

> 2- [sklearn.model_selection for data partition](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [ ]:
import pandas as pd

#comment: Transform cloud sas dataset to python dataframe(pandas) ==> might take some time.

data1 = sas_session.sasdata2dataframe(
table='hist',
libref='cortex'
)

data2 = sas_session.sasdata2dataframe(
table='target_rd2',
libref='cortex'
)

## Merge the Data

In [ ]:
#Step1 Merge the Data
data_merge = pd.merge(data1, data2, on=["ID"],how="right")
data_merge = data_merge.loc[(data_merge['GaveThisYear'] ==1)]
data_merge.sample(2)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear
879501,2879502.0,GOLDEN,MARGARET,1.0,76.0,4500.0,High School,City,1.0,1.0,...,1.0,1.0,10.0,10.0,10.0,0.0,0.0,0.0,1.0,20.0
246461,2246462.0,HILL,DONALD,0.0,56.0,80000.0,University / College,Suburban,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,200.0

## Treating Missing Values

>Please be aware that deleting all missing values can induce a selection bias. 
Some missing values are very informative. For example, when MinGift is missing, it means that the donor never gave in the past 10 years (leading to but excluding last year). Instead of deleting this information, replacing it by 0 is more appropriate!

> A good understanding of the business case and the data can help you come up with more appropriate strategies to deal with missing values.

Se realizó el mismo tratamiento para los valores nulos.

In [ ]:
# In this case, we are replacing MinGift by 0.
# You can do the same for what you think is reasonable for dealing with the other variables.

data_merge[['MinGift']] = data_merge[['MinGift']].fillna(value=0)  
data_merge[['Frequency']] = data_merge[['Frequency']].fillna(value=0) 
data_merge[['TotalGift']] = data_merge[['TotalGift']].fillna(value=0) 
data_merge[['MaxGift']] = data_merge[['MaxGift']].fillna(value=0) 


data_merge.sample(5)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear
989108,2989109.0,JOHNSON,GRACE,1.0,22.0,1900.0,University / College,Suburban,4.0,1.0,...,3.0,4.0,110.0,20.0,50.0,1.0,10.0,0.0,1.0,75.0
876415,2876416.0,INGRAM,ALLYSON,1.0,20.0,12200.0,High School,City,1.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,40.0
890812,2890813.0,KING,WANDA,1.0,22.0,32300.0,High School,Rural,4.0,3.0,...,3.0,4.0,2280.0,30.0,1500.0,0.0,0.0,0.0,1.0,175.0
823285,2823286.0,SMITH,JOHN,0.0,39.0,33500.0,High School,Suburban,10.0,4.0,...,5.0,10.0,320.0,10.0,250.0,1.0,20.0,0.0,1.0,40.0
343903,2343904.0,REVELS,ALFREDO,0.0,68.0,24000.0,University / College,Suburban,9.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,120.0

## Data Partition

In [ ]:
# The code below is an illustration on how to sample data on train and validation samples.
# You could use another library or a built-in function to perform sampling.

from sklearn.model_selection import train_test_split
train, validation = train_test_split(data_merge, test_size=0.5,random_state=5678) # you can change the percentage
train.sample(5)

,ID,LastName,FirstName,Woman,Age,Salary,Education,City,SeniorList,NbActivities,...,Frequency,Seniority,TotalGift,MinGift,MaxGift,GaveLastYear,AmtLastYear,Contact,GaveThisYear,AmtThisYear
387102,2387103.0,BURNES,WILLIAM,0.0,48.0,121300.0,University / College,Suburban,3.0,1.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0
148499,2148500.0,BRITT,RHETT,0.0,17.0,13300.0,High School,Rural,6.0,2.0,...,1.0,1.0,40.0,40.0,40.0,0.0,0.0,0.0,1.0,20.0
87623,2087624.0,GLASGOW,SCOTT,0.0,43.0,900.0,High School,Suburban,5.0,1.0,...,1.0,4.0,25.0,25.0,25.0,0.0,0.0,0.0,1.0,10.0
214164,2214165.0,IBARRA,ASHLEY,1.0,73.0,70000.0,University / College,Suburban,6.0,1.0,...,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,10.0
548065,2548066.0,CLAUSEN,KIMBERLY,1.0,17.0,28600.0,University / College,Downtown,4.0,1.0,...,3.0,4.0,65.0,20.0,25.0,0.0,0.0,0.0,1.0,20.0


## Prebuilt Models

***
### Linear Regression Model


> The [sk-learn library]( https://scikit-learn.org/stable/index.html) offers more advanced models.

In [ ]:
from sklearn import linear_model

#comment: it's numpy array
X_train = train[['Age', 'Salary','MinGift','AmtLastYear','Woman', 'NbActivities',"TotalGift","Frequency","MaxGift"]]
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','MinGift','AmtLastYear','Woman', 'NbActivities',"TotalGift","Frequency","MaxGift"]]
Y_valid = validation['AmtThisYear']

regr = linear_model.LinearRegression()

regr.fit(X_train,Y_train)

regr_predict=regr.predict(X_valid)

print(regr_predict)

[ 52.46347621  14.13418665 123.58469442 ...  37.02419712  65.11021838
  59.67167958]

In [ ]:
#you can change the criteria

import numpy as np
from sklearn import metrics
#MAE
print(metrics.mean_absolute_error(Y_valid,regr_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,regr_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,regr_predict)))

63.971941651480535
54369.255659245224
233.17215884244249

## Regression Tree Model（Py）

In [ ]:
from sklearn.tree import DecisionTreeRegressor

X_train = train[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities' ]] 
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities' ]] 
Y_valid = validation['AmtThisYear']

DT_model = DecisionTreeRegressor(max_depth=5, random_state=0).fit(X_train,Y_train)
DT_predict = DT_model.predict(X_valid) #Predictions on Testing data
print(DT_predict)

[ 51.14299611  27.27249619 139.59760274 ...  52.95749142  47.21358603
  67.88028169]

In [ ]:
#you can change the criteria
#MAE
print(metrics.mean_absolute_error(Y_valid,DT_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,DT_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,DT_predict)))

63.45359546478338
54557.807029103526
233.5761268389891

# XGBOOST

In [ ]:
import xgboost as xgb

model = xgb.XGBClassifier()

X_train = train[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities']] 
Y_train = train['AmtThisYear']
X_valid = validation[['Age', 'Salary','Contact','MinGift', 'GaveLastYear','AmtLastYear','Woman', 'NbActivities']] 
Y_valid = validation['AmtThisYear']
model = xgb.XGBClassifier().fit(X_train,Y_train)
XGB_predict = model.predict(X_valid) #Predictions on Testing data
print(XGB_predict)

[20. 20. 20. ... 20. 20. 20.]

In [ ]:
#you can change the criteria
#MAE
print(metrics.mean_absolute_error(Y_valid,XGB_predict))
#MSE
print(metrics.mean_squared_error(Y_valid,XGB_predict))
#RMSE
print(np.sqrt(metrics.mean_squared_error(Y_valid,XGB_predict)))

47.383278245393356
56833.666648824415
238.39812635342673

### **Other models may also be helpful for this game**

Reference: https://scikit-learn.org/stable/supervised_learning.html

## Scoring New Data

### Prepare data for scoring

In [ ]:
data3 = sas_session.sasdata2dataframe(
table='score',
libref='cortex'
)
data4 = sas_session.sasdata2dataframe(
table='score_rd2_contact',
libref='cortex'
)
data5 = sas_session.sasdata2dataframe(
table='score_rd2_nocontact',
libref='cortex'
)

 ### Score new data based on your champion model
 
 Pick your champion model from previous steps and use it to predict next year donations. 
 
 In this case, the linear regression model performed better than the regression tree based on the MSE criteria.

### Predict 'amount given' for members who were contacted

In [ ]:
scoring_data_contact = pd.merge(data3, data4, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.
# In this case, we will only replace missing values of the MinGift variable.

scoring_data_contact[['MinGift']] = scoring_data_contact[['MinGift']].fillna(value=0) 
scoring_data_contact[['Frequency']] = scoring_data_contact[['Frequency']].fillna(value=0) 
scoring_data_contact[['TotalGift']] = scoring_data_contact[['TotalGift']].fillna(value=0) 
scoring_data_contact[['MaxGift']] = scoring_data_contact[['MaxGift']].fillna(value=0) 


#scoring_data_contact.head()

X = scoring_data_contact[['Age', 'Salary','MinGift','AmtLastYear','Woman', 'NbActivities',"TotalGift","Frequency","MaxGift"]] 

regr_predict_contact=regr.predict(X)

scoring_data_contact['Prediction'] = regr_predict_contact

scoring_data_contact= scoring_data_contact[['ID','Prediction']]
scoring_data_contact = scoring_data_contact.rename({'Prediction': 'AmtContact'}, axis=1) 
scoring_data_contact.head()

          ID  AmtContact
0  2000001.0   78.402264
1  2000002.0   61.306957
2  2000003.0   70.777092
3  2000004.0   41.863304
4  2000005.0   76.027493

### Predict 'amount given' for members who were not contacted

In [ ]:
scoring_data_nocontact = pd.merge(data3, data5, on=["ID"],how="right")

# Perform the same strategy for handling missing values for the score dataset.
# In this case, we will only replace missing values of the MinGift variable.

scoring_data_nocontact[['MinGift']] = scoring_data_nocontact[['MinGift']].fillna(value=0)
scoring_data_nocontact[['Frequency']] = scoring_data_nocontact[['Frequency']].fillna(value=0) 
scoring_data_nocontact[['TotalGift']] = scoring_data_nocontact[['TotalGift']].fillna(value=0) 
scoring_data_nocontact[['MaxGift']] = scoring_data_nocontact[['MaxGift']].fillna(value=0) 
 


#scoring_data_nocontact.head()

X = scoring_data_nocontact[['Age', 'Salary','MinGift','AmtLastYear','Woman', 'NbActivities',"TotalGift","Frequency","MaxGift"]] 

regr_predict_nocontact=regr.predict(X)

scoring_data_nocontact['Prediction'] = regr_predict_nocontact

scoring_data_nocontact= scoring_data_nocontact[['ID','Prediction']]
scoring_data_nocontact = scoring_data_nocontact.rename({'Prediction': 'AmtNoContact'}, axis=1) 
scoring_data_nocontact.head()

          ID  AmtNoContact
0  2000001.0     78.402264
1  2000002.0     61.306957
2  2000003.0     70.777092
3  2000004.0     41.863304
4  2000005.0     76.027493

In [ ]:
result_Amt = pd.merge(scoring_data_contact, scoring_data_nocontact, on=["ID"],how="right")
result_Amt.sort_values(by=['ID'], inplace=True)
result_Amt.head(3)

          ID  AmtContact  AmtNoContact
0  2000001.0   78.402264     78.402264
1  2000002.0   61.306957     61.306957
2  2000003.0   70.777092     70.777092

## Exporting Results to a CSV File

In [ ]:
result_Amt.to_csv('Round2_Output_amt.csv', index=False)

In [ ]:
# Reminder: You are now done with step 1 of Round 2 on predicting the conditional amount.
# Next, to complete Round2, you need to perform step 2 to predict the probability of giving, calculate the uplift and prepare your decision.

In [ ]:
!head Round2_Output_amt.csv

ID,AmtContact,AmtNoContact
2000001.0,78.39738701219576,78.39738701219576
2000002.0,60.50527078119309,60.50527078119309
2000003.0,70.02748891630655,70.02748891630655
2000004.0,41.08282236842116,41.08282236842116
2000005.0,75.27957014875071,75.27957014875071
2000006.0,35.020436865563944,35.020436865563944
2000007.0,40.91092122923502,40.91092122923502
2000008.0,61.99524971543214,61.99524971543214
2000009.0,41.200749651653716,41.200749651653716